@import 'tailwindcss';

@theme {
    --color-text: var(--text);
    --color-text-muted: var(--text-muted);

    --color-canvas: var(--canvas);

    --color-bg-canvas: var(--bg-canvas);
    --color-bg-dark: var(--bg-dark);
    --color-bg: var(--bg);
    --color-bg-light: var(--bg-light);

    --color-highlight: var(--highlight);

    --color-border-color: var(--border);
    --color-border-muted: var(--border-muted);

    --color-primary: var(--primary);
    --color-secondary: var(--secondary);

    --color-danger: var(--danger);
    --color-warning: var(--warning);
    --color-success: var(--success);
    --color-info: var(--info);
}

body {
    @apply m-0 p-0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

textarea,
input {
    outline: none;
}

:root,
.dark {
    --text: hsl(300 0% 95%);
    --text-muted: hsl(300 0% 69%);

    --canvas: hsl(300,0%,100%);

    --bg-canvas: hsl(300 0% 13%);

    --bg-dark: hsl(336 0% 1%);
    --bg: hsl(300 0% 4%);
    --bg-light: hsl(0 0% 9%);

    --highlight: hsl(330 0% 39%);

    --border: hsl(0 0% 28%);
    --border-muted: hsl(300 0% 18%);

    --primary: hsl(220 78% 76%);
    --secondary: hsl(40 53% 60%);

    --danger: rgb(205, 14, 25);
    --warning: rgb(255, 14, 25);
    --success: hsl(146 17% 59%);
    --info: hsl(217 28% 65%);
}

.light {
    --text: hsl(300 0% 95%);
    --text-muted: hsl(300 0% 69%);
    
    --bg-canvas: hsl(0 0% 58%);

    --bg: hsl(300 0% 4%);
    --bg-dark: hsl(336 0% 1%);
    --bg-light: hsl(300 0% 100%);

    --highlight: hsl(300 50% 100%);

    --border: hsl(0 0% 50%);
    --border-muted: hsl(340 0% 62%);

    --primary: hsl(221 49% 33%);
    --secondary: hsl(44 100% 14%);

    --danger: rgb(205, 14, 25);
    --warning: rgb(255, 14, 25);
    --success: hsl(147 19% 36%);
    --info: hsl(217 22% 41%);
}